@import 'tailwindcss';

@theme {
  /* Cores principais */
  --color-primary: #0073a9;
  --color-secondary: #f2f2f2;
  --color-tertiary: #dfe8f1;
  --color-danger: #d92117;

  /* Tipografia */
  --font-sans: 'Inter', sans-serif;
}
