@import 'tailwindcss';

@theme {
  --font-sans: 'Montserrat', sans-serif;

  --color-primary: #0073A9;
  --color-secondary: #F2F2F2;
  --color-tertiary: #DFE8F1;
  --color-danger: #D92117;
  --color-success: #20C997;
  --color-warning: #FFC107;
  --color-info: #0CB7DA;
  --color-timer: #FD7E14;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: #ffffff;
    color: #000000;
  }
}

/* Classes de Hierarquia Tipográfica Baseadas no Design System */
.text-titulo {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary);
  line-height: 1.2;
}

.text-subtitulo {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.text-corpo {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}