@import "tailwindcss";

@theme {
  /* Cores principais */
  --color-primary: #0073A9;
  --color-secondary: #F2F2F2;
  --color-tertiary: #DFE8F1;
  --color-danger: #D92117;

  /* Tipografia */
  --font-sans: "Inter", sans-serif;
}